DHT22.json
[
    {
        "id": "3a55666049436040",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "01835028a0c2e31e",
        "type": "mqtt in",
        "z": "3a55666049436040",
        "name": "",
        "topic": "65011070/test",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "fd80fe1dc0823738",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 180,
        "wires": [
            [
                "175b6b1416fbada3",
                "3930e316e4c5c3e4"
            ]
        ]
    },
    {
        "id": "3fe16e84e0987c80",
        "type": "ui_gauge",
        "z": "3a55666049436040",
        "name": "",
        "group": "8adbf95d89514305",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "°C",
        "format": "Temperature",
        "min": 0,
        "max": "50",
        "colors": [
            "#005cb3",
            "#00e60f",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 280,
        "wires": []
    },
    {
        "id": "175b6b1416fbada3",
        "type": "function",
        "z": "3a55666049436040",
        "name": "function 1",
        "func": "var input = msg.payload;\nmsg.payload = input.temp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 320,
        "wires": [
            [
                "3fe16e84e0987c80",
                "761774fd91e8b82e"
            ]
        ]
    },
    {
        "id": "761774fd91e8b82e",
        "type": "ui_chart",
        "z": "3a55666049436040",
        "name": "",
        "group": "8adbf95d89514305",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#b31e1e",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "fa7ddd4b1f2030d6",
        "type": "ui_gauge",
        "z": "3a55666049436040",
        "name": "",
        "group": "a43208c0f5f0eae2",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "%",
        "format": "Humidity",
        "min": 0,
        "max": "100",
        "colors": [
            "#009dff",
            "#0082e6",
            "#0014a8"
        ],
        "seg1": "50",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 460,
        "wires": []
    },
    {
        "id": "3930e316e4c5c3e4",
        "type": "function",
        "z": "3a55666049436040",
        "name": "function 2",
        "func": "var input = msg.payload;\nmsg.payload = input.hum;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 520,
        "wires": [
            [
                "fa7ddd4b1f2030d6",
                "a91e7a1f23739d61"
            ]
        ]
    },
    {
        "id": "a91e7a1f23739d61",
        "type": "ui_chart",
        "z": "3a55666049436040",
        "name": "",
        "group": "a43208c0f5f0eae2",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1e30b3",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 500,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "fd80fe1dc0823738",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "iiot.dynu.com",
        "port": "6688",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "65011070 NodeRed Connected",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8adbf95d89514305",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "ee25ee8ca284bf88",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a43208c0f5f0eae2",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "ee25ee8ca284bf88",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ee25ee8ca284bf88",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]